.centre
{
	text-align: center;
}
h1
{
	font-size: 4em;
	text-align: center;
	margin-top: 30vh;
	transform: translateY(-50%);
	color: rgb(255, 0, 0);
	opacity: 1;
	font-family: 'Jost', sans-serif;
}
body
{
	background: no-repeat;
	background-image: url(back.jpg);
	opacity: 0.5;
	cursor: url("cursor4.cur"), pointer;
}
p
{
	font-size: 2em;
	color: white;
}
input
{
	font-size: 20px;
	color: red;
	font-family: 'Jost', sans-serif;
	background-color: black;
	height: 40px;
	width: 175px;
	font-weight: 900;
}
a
{
	font-size: 15px;
}
